[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "glottospace"]
	path = glottospace
	url = https://github.com/glottospace/glottospace
[submodule "tmap"]
	path = tmap
	url = https://github.com/r-tmap/tmap
	registered = false
